.project-item {
    margin: 20px;
    border-radius: 5px;
    background-color: rgb(233, 236, 239);
    padding: 30px;
}

.project-status .active {
    font-weight: bold;
    color: green;
}


.project-status .finished {
    font-weight: bold;
    color: orange;
}

.project-item .project-date {
    float: right;
}

.project-item a {
    margin: 0px 5px 5px 0px
}

.nav-path {
    margin: 0 1rem;
    color: #8a8a8a;
}