.content-frame {
    margin: 100px;
    padding: 30px;
    border-radius: 5px;
    background-color: rgb(233, 236, 239);
}

.project-status .active {
    font-weight: bold;
    color: green;
}


.project-status .finished {
    font-weight: bold;
    color: orange;
}
