{% extends 'base.html' %}
{% block title %}Изменение пароля{% endblock %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/css/form.css' %}">
    {% block subhead %}{% endblock %}
{% endblock %}
{% block content %}
    <div class="form-content">
        <center>
            <h5>Изменение пароля</h5>
        </center>
        <hr>
        <form method="post"> {% csrf_token %}
            {{ form.as_p }}
            <br>
            <a href="{% url 'accounts:settings' %}" class="btn btn-primary">Назад</a>
            <button style="float: right" class="btn btn-primary">Сохранить</button>
        </form>
    </div>

{% endblock %}