{% extends 'base.html' %}
{% block title %}Список клиентов{% endblock %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'clients/css/list.css' %}">
{% endblock %}

{% block content %}
    {% if request.user.has_manager_perms %}
        <p>Выберите для просмотра карточку<a style="float: right" class="btn btn-success btn-sm" href="{% url 'clients:create' %}">Создать</a></p>
    {% endif %}
    {% if object_list %}
        <table class="table table-striped table-light">
          <thead>
            <tr>
            {% if request.GET.order == "comp_name" %}
                <th scope="col"><a href="?order=-comp_name">Компания</a> {% if 'comp_name' in request.GET.order %}▲{% endif %}</th>
            {% else %}
                <th scope="col"><a href="?order=comp_name">Компания</a> {% if 'comp_name' in request.GET.order %}▼{% endif %}</th>
            {% endif %}

            {% if request.GET.order == "createDate" %}
                <th scope="col"><a href="?order=-createDate">Дата создания</a> {% if 'createDate' in request.GET.order %}▲{% endif %}</th>
            {% else %}
                <th scope="col"><a href="?order=createDate">Дата создания</a> {% if 'createDate' in request.GET.order %}▼{% endif %}</th>
            {% endif %}

              <th scope="col">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            {% for object in object_list %}
                    <tr>
                      <td>{{ object.comp_name }}</td>
                      <td>{{ object.createDate|date:"d/m/Y" }} {{ object.createDate|time:"H:i" }}</td>
                      <td><a class="btn btn-primary" href={{ object.get_absolute_url }}>Подробнее</a></td>
                    </tr>
            {% endfor %}
          </tbody>
        </table>

    {% else %}
        <center>
            <h3>Here no clients yet</h3>
        </center>
    {% endif %}
{% endblock %}