{% extends 'base.html' %}
{% block title %}Клиент {{ object.comp_name }}{% endblock %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'clients/css/detail.css' %}">
    {% block subhead %}{% endblock %}
{% endblock %}
{% block content %}
        <a class="btn btn-info btn-small" style="margin-left: 1em" href="{% url 'home' %}">К списку клиентов</a>
        <div class="row">
            <div class="col-sm-4">
                <div class="client-form">
                    <br>
                    <center><h4>{{ object.comp_name }}</h4></center>
                    <hr>
                    <p>Описание клиента:</p>
                        <div style="margin-left: 20px">
                            {{ object.comp_description|safe }}
                        </div>

                    <p>Директор: {{ object.supervisor }}</p>
                    <p>Адрес: {{ object.address }}</p>
                    <p>Email адрес(а): </p>
                    <ul>
                    {% for email in object.emails.split %}
                        <li>{{ email }}</li>
                    {% endfor %}
                    </ul>

                    <p>Номер(а) телефона: </p>
                    <ul>
                    {% for number in object.phones.split %}
                        <li>{{ number }}</li>
                    {% endfor %}
                    </ul>
                    <div style="margin-top: 30vh"></div>
                    <p>Дата создания: {{ object.createDate|date:"d/m/Y" }} {{ object.createDate|time:"H:i" }}</p>
                    {% if object.editDate != object.createDate %}
                        <p>Последнее редактирование: {{ object.editDate|date:"d/m/Y" }} {{ object.editDate|time:"H:i" }}</p>
                    {% endif %}
                    <br>
                    {% if request.user.has_manager_perms %}
                    <a class="btn btn-primary" href="{% url 'clients:edit' object.pk %}">Редактировать</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm">
                {% block colum %}
                    <center>
                        <h4>Меню</h4>
                    </center>
                    <br>
                    <a class="btn btn-primary btn-block" href="{% url 'projects:view' object.pk %}">Список проектов</a>
                    {% if request.user.has_manager_perms %}
                        <a class="btn btn-primary btn-block" href="{% url 'communications:company' object.pk %}">Сообщения компании</a>
                    {% endif %}
                {% endblock %}

            </div>
        </div>
    </div>

{% endblock %}