{% extends 'base.html' %}

{% block head %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'projects/css/projectDetail.css' %}">
{% endblock %}

{% block content %}

    <div class="content-frame">

        <center>
            {% if createMode %}
                <h3>Создание проекта</h3>
            {% else %}
                <h3>Редактирование проекта</h3>
            {% endif %}
        </center>

        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}

            {% if createMode %}
                <a href="{% url 'projects:view' pk %}" type="submit" class="btn btn-primary">К списку проектов</a>
            {% else %}
                <a href="{% url 'projects:view' object.company.pk %}" type="submit" class="btn btn-primary">К списку проектов</a>
            {% endif %}

            <button type="submit" style="float: right" class="btn btn-primary">Сохранить</button>
        </form>
    </div>

{% endblock %}