{% extends 'base.html' %}

{% block head %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'communications/css/message.css' %}">
{% endblock %}

{% block content %}

    <div class="message">
        <center>
            <h3>Детали Сообщения</h3>
        </center>
        <hr>
        <p>Название компании: {{ object.project.company.comp_name }}</p>
        <p>Название проекта: {{ object.project.name }}</p>
        <br>
        <p>Канал общения: {{ object.get_type_display }}</p>
        <p>Менеджер: {{ object.manager }}</p>
        <p>Описание: {{ object.description }}</p>
        <p>Оценка: {{ object.rating }}/10</p>
        <br>
        <p>{{ object.date|date:"d/m/Y" }} {{ object.date|time:"H:i" }}</p>
        <hr>
        {% if request.GET.type == 'project' %}
            <a class="btn btn-primary" href="{% url 'communications:project' object.project.pk %}">Назад</a>
        {% else %}
            <a class="btn btn-primary" href="{% url 'communications:company' object.project.company.pk %}">Назад</a>
        {% endif %}
        <a class="btn btn-primary" style="float:right;" href="{% url 'communications:edit' object.pk %}">Редактировать</a>
    </div>

{% endblock %}